@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-nitti;
}

.primary-btn {
  @apply border-none bg-primary py-[10px] px-[30px] text-small rounded text-secondary cursor-pointer ;
}
.secondary-btn {
  @apply border-none bg-secondary py-[10px] px-[30px] text-small rounded text-dark cursor-pointer ;
}


@layer base {
  @font-face {
    font-family: 'Nitti';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Nitti Grotesk font/Nitti Grotesk Normal.otf') format('truetype');    
  }
  @font-face {
    font-family: 'Nitti';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Nitti Grotesk font/Nitti Grotesk Bold.otf') format('truetype');    
  }
}