@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-nitti;
  /* @apply text-dark; */
}
h1, h2, p {
  @apply text-dark;
}

.primary-btn {
  @apply border-none bg-primary py-[7px] px-[16px] md:py-[10px] md:px-[30px] text-small rounded text-secondary cursor-pointer ;
}
.secondary-btn {
  @apply border-none bg-secondary py-[7px] px-[16px] md:py-[10px] md:px-[30px] text-small rounded text-dark cursor-pointer ;
}
.container {
  @apply max-w-[1300px] mx-auto;
}


@layer base {
  @font-face {
    font-family: 'Nitti';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Nitti Grotesk font/Nitti Grotesk Normal.otf') format('truetype');    
  }
  @font-face {
    font-family: 'Nitti';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Nitti Grotesk font/Nitti Grotesk Bold.otf') format('truetype');    
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');    
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');    
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}